@model IEnumerable<TallerEnClaseSemana4_TomasLopez.Models.Equipos>

@{
    ViewData["Title"] = "Equipos ligaPro";
}

<h1>Equipos ligaPro</h1>

<p>
    <a asp-action="Create">Insertar Equipo</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nombre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Ciudad)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Titulos)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AceptExtr)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Estadio)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Ciudad)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Titulos)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AceptExtr)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Estadio.IdEstadio)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.IdEquipo">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.IdEquipo">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.IdEquipo">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
