@model TallerEnClaseSemana4_TomasLopez.Models.Jugador

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Jugador</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NombreJugador)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NombreJugador)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Posicion)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Posicion)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdEquipo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdEquipo)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.IdJugador">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
